<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="game-url" value="http://www.xbox.com/en-au/marketplace/product/wordament" />

		<add key="tesseract-file-name" value="C:\Program Files (x86)\Tesseract-OCR\Tesseract.exe"/>
		<add key="tesseract-url" value="http://code.google.com/p/tesseract-ocr/"/>
		
		<add key="valid-tile-width" value="76" />
		<add key="valid-tile-height" value="76" />

		<add key="tile-score-width" value="30"/>
		<add key="tile-score-height" value="20"/>

		<add key="times-up-color" value="27, 161, 226"/>
		<add key="guessing-color" value="ff0000" />
		<add key="lobby-background-color" value="200, 104, 16"/>
		<add key="normal-tile-color" value="27, 161, 226"/>
		<add key="valid-word-tile-color" value="51, 153, 53"/>
		<add key="invalid-word-tile-color" value="229, 20, 0"/>

		<add key="post-tile-sleep-time" value="20"/>
		<add key="post-word-sleep-time" value="160"/>
	</appSettings>
</configuration>